:root {
  background-image: "https://images.freeimages.com/images/previews/f98/black-coffee-1185883.jpg";
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
